body{
  margin:0;
  font-family: Arial, sans-serif;
  background:#0b0b0b;
  color:white;
}

h1{
  color:#00ffff;
}
.menu{
  position:fixed;
  left:0;
  top:0;
  width:220px;
  height:100vh;
  background:#000;
  padding:20px;
  box-shadow:0 0 15px #00ffff;
}

.menu h2{
  color:#00ffff;
}

.menu a{
  display:block;
  color:white;
  text-decoration:none;
  margin:10px 0;
}

.menu a:hover{
  color:#00ffff;
}

.conteudo{
  margin-left:240px;
  padding:20px;
}
